/* common codes */

*{
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
    padding: 0px;
    margin: 0px;
    
    
}

.primary-text{color: rgb(230, 83, 60);}
.secondary-text{color: white;}
.primary-btn-bg{background-color: rgb(230, 83, 60);}
.primary-btn{
    color: white;
    padding: 1rem 2.5rem;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 2.5rem;
    border: none;
}
.section-padding{padding: 0px 11.5rem;}
.flex-display{display: flex;}
a{text-decoration: none;}
.primary-font-size{font-size: 1.125rem; }



/* banner section */
.banner{ 
    
    background: linear-gradient(rgb(14, 14, 14),rgb(37, 37, 37),rgb(14, 14, 14) 100%);
    
}

/* nav bar custom */
.navbar{
    padding: 3.75rem 0px 0px;
    justify-content: space-between;
}
.fitness{ 
    font-size: 2.5rem;
    transform: skew(-10deg);
    font-weight: 800;

}
.home-a{
    padding: .5rem 1.25rem;
    font-weight: 600;
    border-radius: 2.5rem;
    border: none;
    margin-left: 5px;
    margin-right: 2rem;
}
.nav-a{
    padding-top: .75rem;
}
.gap-4{
    margin-left: 2rem;
    margin-right: 2rem;
}
nav a img{width: 1.75rem;
    height: 1.5rem;
    padding-top: .75rem;
    filter: invert(100%);
}
.menu-box{
    display: none;
}
.menu{ 
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    align-content: center;

}



/* responsive media */

@media screen and (max-width:576px) {
    /* nav bar for phone */
.menu{
    display: none;
}
.menu-box{
    display: flex;
}
.section-padding{
    padding: 1.5rem;
}
.navbar{
    padding: 3.25rem 0px 0px;
}

}