/* common codes */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
*{
    font-family: "Inter", sans-serif;
    padding: 0px;
    margin: 0px;
    color: white;
    
}
.banner{ 
    
    background: linear-gradient(rgb(14, 14, 14),rgb(37, 37, 37),rgb(14, 14, 14) 100%);
    
}
.primary-text{color: rgb(230, 83, 60);}
.primary-btn-bg{background-color: rgb(230, 83, 60);}
.primary-btn{
    
    padding: 1rem 2.5rem;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 2.5rem;
    border: none;
}
.section-padding{padding: 0px 11.5rem;}
.flex-display{display: flex;}
a{text-decoration: none;}
.primary-font-size{font-size: 1.125rem; }
.header-size{ font-size: 3rem;}





/* nav bar custom */
.navbar{
    padding: 3.75rem 0px 0px;
    justify-content: space-between;
}
.fitness{ 
    font-size: 2.5rem;
    transform: skew(-10deg);
    font-weight: 800;

}
.home-a{
    padding: .5rem 1.25rem;
    font-weight: 600;
    border-radius: 2.5rem;
    border: none;
    margin-left: 5px;
    margin-right: 2rem;
}
.nav-a{
    padding-top: .75rem;
}
.gap-4{
    margin-left: 2rem;
    margin-right: 2rem;
}
nav a img{width: 1.75rem;
    height: 1.5rem;
    padding-top: .75rem;
    filter: invert(100%);
}
.menu-box{
    display: none;
}
.menu{ 
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    align-content: center;

}
/* banner */
.banner-box{
    
    justify-content: space-between;
}
.banner-content{
    max-width: 29rem;
    padding: 6rem 0px;
    
}
.banner-title{
    font-size: 5rem;  
    line-height: 4.8rem;
}

.shape{
    font-family: 'Miama', sans-serif;
    font-weight:400;
    font-size:7rem;
    
}
.banner-para{
    opacity: 0.7;
    padding: 1.75rem 0rem;
    letter-spacing: 1px;
    
}
.banner-img{
    position: relative;
    transform: translateY(2rem);
    max-width: 100%;
}
/* download button */

.Downloadbtn{
    
    padding: 1rem 2.5rem;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 2.5rem;
    border: 1px solid white;
    background-color: transparent;
}
.btn{
    gap: 1rem;
    margin: 0px,auto;
}
/* info boxes */
.info-box-1 ,.info-box-2{
    position:absolute;
    border: 1px solid rgba(255, 255, 255, 0.267);
    border-radius: 1rem;
    padding: 1rem;
    background-color: rgba(105, 105, 105, 0.192);
    width: 9rem;
    backdrop-filter: blur(1rem);
}
.info-box-1{
    transform: translate(15rem,-24.5rem);
}
.info-box-2{
    gap: 1rem;
    align-items: center;
    transform: translate(-5rem,-10rem);
}
.info-box-1 p,.info-box-2 p{
    opacity: .7;
}
.info-box-1 h2{
    font-size: 2.5rem;
}

.info-box-2 img{
    width: 2rem;

}
/* change habit section */
.change-ur-habit-container{
padding-top: 6.5rem;
padding-bottom: 6.5rem;
background-color: black;
text-align: center;
}
.change-ur-habit-container p{
    opacity: .5;
    text-overflow: ellipsis;
    
    
}

.habit-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
   
}
.cng-p{
    margin: 1rem 0px 3.5rem;
}
.habit img{
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 100%;
}
.habit h2{
    margin-top: 2rem;
}



/* responsive media */

@media screen and (max-width:576px) {
    /* nav bar for phone */
.menu{
    display: none;
}
.menu-box{
    display: flex;
}
.section-padding{
    padding: 1.5rem 1.5rem 0px 1.5rem;
}
.navbar{
    padding: 3.25rem 0px 0px;
}
.banner-box{
    flex-direction: column;
}
.banner-img{
    transform: translateY(.2rem);
}
/* info boxes */
.info-box-1{
    transform: translate(12rem,-35rem);
}
.info-box-2{
    transform: translate(-1rem,-23rem);
}
.habit-container{
    grid-template-columns: repeat(1,1fr);
    
   
}
.habit p{
    padding-bottom: 4rem;

}

}